<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="index.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Home</title>
</head>

  <body>
    <!--------------------------------Header------------------------------------>
    <section id="header">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <h1 class="logo">Rise And Shine</h1>
            <div class="tagline">
              <p class="tagline">We are best known for Professional Mentoring for Students</p>
            </div>

          </a>


          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto ">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/questions.html">Questions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login.html">Log in</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            <img src="https://rb.gy/2pllrl" class="img-fluid">
          </div>
          <div class="col-md-6 text-justify">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum aliquid minima fuga esse ad!
              Blanditiis
              libero possimus temporibus fugit, dolore obcaecati rerum eveniet ipsum minima porro
              veritatis adipisci
              exercitationem repellat dolorum optio, maxime alias. Similique quis dignissimos labore atque
              deserunt.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum aliquid minima fuga esse ad!
              Blanditiis
              libero possimus temporibus fugit, dolore obcaecati rerum eveniet ipsum minima porro
              veritatis adipisci
              exercitationem repellat dolorum optio, maxime alias. Similique quis dignissimos labore atque
              deserunt.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="project360">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            <img src="https://rb.gy/weovyg" class="img-fluid">
          </div>
          <div class="col-md-6 text-justify">
            <h3>Project 360</h3>
            <p>Project 360 is a one-of-a-kind initiative by us at Edunext. It aims to eliminate the vital
              problems that
              arise during the remote learning procedures that are currently in place to aid in the
              overall development of
              a student both academically and socially. Apart from state-of-the-art facilities in
              academics, a plethora of
              counsellors and motivators are always ready to assist your child to cross all hurdles in
              life.</p>
          </div>
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

</html>